.darkmode {
  background: linear-gradient(
    -100deg,
    #131131 5%,
    #302279 45%,
    #1c1749 55%,
    #280238 125%
  );
  background-size: 300% 300%;
  -webkit-font-smoothing: antialised;
  animation: color 10s ease-in-out infinite;

  .menu {
    background-color: #23214d;
    border: 1px solid #cd1818;
  }

  .copy {
    background-color: #23214d;
    border: 1px solid #cd1818;
    color: #fff;
  }

  .copy svg {
    fill: #fff;
  }

  .styleh2 {
    color: #23214d;
  }

  .faq-lista dt::before,
  .dados li::before {
    background-color: #cd1818;
    border: 1px solid #000;
  }

  .menu li a:hover {
    color: #fff;
  }

  .h3style {
    color: #cd1818;
  }

  .styleh2 {
    color: #0b0a1b;
  }

  .styleh2 span {
    transition: 0.5s;
  }

  .styleh2:hover span:nth-child(1) {
    margin-right: 10px;
  }

  .styleh2:hover span:nth-child(1)::after {
    content: "'";
  }

  .styleh2:hover span:nth-child(2) {
    margin-left: 12px;
  }

  .styleh2:hover span {
    color: #e2e2b6;
    text-shadow: 0px 0px 2px #cd1818, 0px 0px 4px #cd1818, 0px 0px 5px #cd1818,
      0px 0px 6px #cd1818, 0px 0px 7px #cd1818, 0px 0px 8px #cd1818,
      0px 0px 9px #cd1818, 0px 0px 10px #cd1818;
  }

  .back-bege {
    border: 2px solid #cd1818;
  }

  #javascript-img {
    border: 2px solid #cd1818;
  }

  .svg-github {
    border: 1px solid #cd1818;
  }

  .wave {
    filter: drop-shadow(30px 30px 40px #cd1818);
  }

  .dropdown-menu {
    border: 1px solid #23214d;
    background-color: #131131;
  }

  .dropdown-menu::before {
    border-bottom: 10px solid #cd1818;
  }

  .img-container:hover{
    box-shadow: 0 0 15px rgba(205, 24, 24, 0.8), 
    0 0 20px rgba(205, 24, 24, 0.7); 
    transition: .3s;
  }
  .dev-name:hover {
    color: #c04d4d;
  }

  .img::selection {
    background-color: #c04d4d;
  }

  dt::selection {
    background-color: #c04d4d;
  }

  dd::selection {
    background-color: #c04d4d;
  }

  li::selection {
    background-color: #c04d4d;
  }

  p::selection {
    background-color: #c04d4d;
  }

  a::selection {
    background-color: #c04d4d;
  }

  h1::selection {
    background-color: #c04d4d;
  }

  h2::selection {
    background-color: #c04d4d;
  }

  h3::selection {
    background-color: #c04d4d;
  }

  #label {
    display: inline-block;
    background-color: #79747469;
    border: 1px solid #000;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    position: fixed;
    cursor: pointer;
    top: 35px;
    right: 10px;
    transition: 0.3s;
  }

  #label:hover {
    background-color: #5c575769;
  }
  .button__content {
    background: var(--gradient-color-dark);
    border: 3px solid var(--black-color-dark);
    color: var(--black-color-dark);
  }
  .button__reflection-1,
  .button__reflection-2 {
    background-color: var(--reflection-color-dark);
  }

  .button__reflection-1::after {
    background-color: var(--reflection-color-dark);
  }

  .button__reflection-2::after {
    background-color: var(--reflection-color-dark);
  }

  .button__shadow {
    background: var(--gradient-color-dark);
    border: 3px solid var(--black-color-dark);
  }
  .container-contact {
    box-shadow: -6px 0 7px rgba(255, 0, 0, 0.5), 6px 0 7px rgba(255, 0, 0, 0.5),
      0 6px 7px rgba(255, 0, 0, 0.5);
  }
  .tooltip {
    border: 1px solid #cd1818;
    background-color: #cd1818bd;
  }
  .tooltip:hover {
    background-color: #cd1818f6;
    transition: 0.3s;
    border: 1px solid #e2e2b6;
  }
  .titulo-contact {
    border-bottom: 2px solid #cd1818;
  }
  .preloader {
	background-color: #23214d6e;    
  }
  .loader {
    box-shadow: 0 0 35px rgba(205, 24, 24, 0.8), 
    0 0 55px rgba(205, 24, 24, 0.7); 
    border-top: 8px solid #cd181875;  
  }
}

#label {
  display: inline-block;
  background-color: #ffffff9c;
  border: 1px solid #042949;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  position: fixed;
  cursor: pointer;
  top: 35px;
  right: 10px;
  transition: 0.3s;
}

#label:hover {
  background-color: #ffffff7a;
}

#darkmode-id {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

#span-darkmode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-image: url("https://cdn3.iconfinder.com/data/icons/meteocons/512/sun-symbol-512.png");
  background-size: cover;
  transition: 0.6s;
  border-radius: 50%;
}

#darkmode-id:checked + span::before {
  background-image: url("./moon.png");
  left: 45%;
}
