body,
h1,
h2,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: linear-gradient(
    -100deg,
    #042949 15%,
    #03346e 35%,
    #6eacda 70%,
    #e2e2b6 115%
  );
  background-size: 300% 300%;
  -webkit-font-smoothing: antialised;
  animation: color 12s ease-in-out infinite;
  color: #fff;
}

@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
