.arthur {
  text-align: center;
  font-family: "Bonheur Royale", sans-serif;
  font-size: 3.555rem;
}

.p-container-graduation {
  padding: 2%;
  text-align: center;
}

.container-grid-graduation {
  padding-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.sub-img-graduation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#html-img {
  width: 33%;
}

#javascript-img {
  width: 33%;
  background-color: #e2e2b6;
  border-radius: 50%;
  padding: 8px;
}

#css-img {
  width: 30%;
}

.back-bege {
  background-color: #e2e2b6;
  padding: 8px;
  border-radius: 50%;
}

.h3-graduation {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.3rem;
}
