@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  #logo {
    display: none;
  }
  .skills-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .flex-layout {
    flex-direction: column;
  }
  .menu {
    margin-bottom: 0.5rem;
  }
  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .sobre-developer {
    font-size: 0.875rem;
  }
  .faq-lista,
  .faq-lista dd,
  .faq-lista dt,
  .dados,
  .list-skills {
    grid-column: 1/ 3;
    font-size: 1rem;
  }
  .grid-section h1,
  .styleh2, .textTyping {
    font-size: 4rem;
  }
  .menu {
    margin-top: 0px;
  }
  .copy {
    margin-bottom: 0px;
  }
  .fatherWave {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
  }
  .p-01 {
    font-size: 1rem;
  }
}