.container-typewriter {
  display: flex;
  justify-content: center;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 2.8s steps(40, end), blink-caret .30s step-end infinite;
  grid-column: 1/-1;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border: none;
  }
}